name: Build Project Techno

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build with Gradle
      run: ./gradlew distribution
      
    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ProjectTechno-Install
        path: build/distributions/ProjectTechno_Install.zip
